.d-inline {
  display: inline !important;
}

.d-block {
  display: block !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex !important;
  flex-direction: row !important;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.w-100 {
  width: 100% !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.main-wrapper {
  padding: 23px 16px;
}

/* link */

.theme-dark .MuiTable-root a,
.theme-light .MuiTable-root a {
  color: #599de9;
  text-decoration: none;
  font-weight: bold;
}

/* list item */

.theme-light .MuiListItem-root .MuiListItemText-root .MuiTypography-root {
  font-weight: bold;
}

.theme-dark .MuiListItem-root:hover {
  background-color: transparent;
}

.theme-dark .MuiListItem-root.Mui-selected {
  background-color: rgb(55, 87, 138);
}

.theme-dark .MuiListItem-root .MuiListItemText-root .MuiTypography-root {
  color: #599de9;
  font-weight: bold;
}

.theme-dark .MuiListItem-root:hover .MuiListItemText-root .MuiTypography-root,
.theme-dark
  .MuiListItem-root.Mui-selected
  .MuiListItemText-root
  .MuiTypography-root {
  color: #fff;
}

/* delete icon */

.theme-light .icon-delete {
  color: #f44336;
}

.theme-dark .icon-delete {
  color: #fff;
}
